#body{
  background-image: url("nobike.jpg");
  background-color: #cccccc;
}
.hr{
  color: blue;
  border 5px solid;
}
.p
{
  font-size: 40px;
  font-family: monospace;
  color: blue;
}
